.app-name-zlp-color {
    color: #0068FF;
    font-weight: 800;
    display: inline-block;
}

.app-name-zlp-color-green {
    color: #27ca77;
    font-weight: 800;
    display: inline-block;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-collapse {
    justify-content: flex-end;
}